@font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'), 
         url('../fonts/Rubik-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Rubik-SemiBold.woff2') format('woff2'), 
         url('../fonts/Rubik-SemiBold.ttf') format('truetype');
}


@font-face {
    font-display: swap; 
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'), 
         url('../fonts/Rubik-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap; 
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'), 
         url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-display: swap; 
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/BebasNeue-Bold.woff2') format('woff2'), 
         url('../fonts/BebasNeue-Bold.ttf') format('truetype');
}

