// VARS
$text: #2a2a2a;
$main: #200e2a;
$grey: #6E7C87;

// EXTENDS
%hover {
  transition: all 0.1s ease-in;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
}


@mixin border($border) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type=time],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  select,
  .btn,
  textarea {
    border-radius: $border;
  }
}

@mixin height($height) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  input[type="url"],
  input[type=time],
  select,
  .btn {
    height: $height;
  }
}

@mixin padding($paddingY, $paddingX) {

  input[type="text"],
  input[type="number"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="search"],
  select,
  input[type="url"] {
    padding: $paddingY $paddingX;
  }
}

@mixin clamp($line) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(11%) saturate(7465%) hue-rotate(210deg) brightness(124%) contrast(117%);
}

%color {
  transition: color 0.1s;
  @media (any-hover: hover) {
    &:hover {
      color: #17c6ff;
    }
  }
}

%line {
  position: relative;
  padding-bottom: 2px;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    border-bottom: 1px solid #fff;
    height: 2px;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: all 0.1s linear;
  }

  @media (any-hover: hover) {
    &:hover::before {
      width: 0;
    }
  }
}

%lineReverse {
  position: relative;
  padding-bottom: 2px;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    border-bottom: 1px solid #fff;
    bottom: 0;
    right: 0;
    transition: all 0.1s linear;
    width: 0;
  }

  @media (any-hover: hover) {
    &:hover::before {
      width: 100%;
    }
  }
}

%selectHide {
  &::selection {
    background-color: transparent;
  }

  *::selection {
    background-color: transparent;
  }
}


// select{
//     padding-right: 20px;
//     padding-left: 16px;
//     width: 100%;
//     -moz-appearance: none;
//     appearance: none;
//     -webkit-appearance: none;
//     background-image: url('../images/select-down.svg');
//     background-repeat: no-repeat;
//     background-position: right 0px center;
//     background-size: 10px;
//     outline: none;
//     &:focus {
//       background-image: url('../images/select-up.svg');
//     }
// }

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-shrink: 0;

  &::after {
    content: '';
    height: 100%;
    border-radius: inherit;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid $main;
    transition: all 0.1s ease-in;
  }


  &:checked {
    &::after {
      background-color: $main;
      background-image: url('../images/check-icon.svg');
    }
  }
}

input[type="radio"] {
  position: relative;
  cursor: pointer;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  flex-shrink: 0;
  border: 1px solid $main;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: transparent;
  }

  &:checked {
    &::after {
      background-color: $main;
    }
  }
}



// @media (any-hover: hover){
//   &:hover{
//   }
// }

// .slick-list {
//   padding: 0 20% 0 0 !important;
// }

// .slick-slider {
//   margin: 0 -10px;
// }

// .slick-slide {
//   margin: 0 10px;
// }